doctype html
html
  head
    meta(name='viewport',content='widt=device-width,initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/sinan.bootstrap.css')
  body
    block content
  script(src='/javascripts/jqery-3.5.1.min.js')
  script(src='bootstrap/js/bootsrap.min.js')
